body {
    background-color: #333;
    color: #fff
}

.small-box {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 40px;
    border-width: 1px;
    border-style: dashed;
    border-color: white
}


/* Elementos de linea: a, span, etc no se les puede definir un width o height */


/* Elementos de linea: a, span, solo tienen margenes laterales, pero no tienen margin top o bottom */


/* Propiedad margin 4 valores: top right bottom left  --> Agujas del reloj
  Padding tiene el mismo esquema de funcionamiento
*/


/* Propiedad margin 2 valores: top/bottom right/left  --> Agujas del reloj*/


/* margin-left: auto pega el componente a la derecha || margin-right: auto pega el componente a la izquierda ||
Si combinamos estas dos lo que hacemos es colocar elemento en el centro  */


/* Para que margin left/right auto funcione, nuestro bloque debe tener definido un width determinado, sino no funciona */


/* La propiedad de border: es un shorthand de border-width border-style border-color */


/* En cuanto a los styles hay un monton, dashed, dot, groove, ridge... Si se necesitan buscar info sobre ello. */