body {
    background-color: #333;
    color: #fff
}

h1 {
    text-align: center;
}

.small-box {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 60px;
    border-width: 1px;
    border-style: dashed;
    border-color: white;
    box-sizing: content-box;
}

.small-box-2 {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 60px;
    border-width: 1px;
    border-style: dashed;
    border-color: white;
    box-sizing: border-box;
}


/* Elementos de linea: a, span, etc no se les puede definir un width o height */


/* Elementos de linea: a, span, solo tienen margenes laterales, pero no tienen margin top o bottom */


/* Propiedad margin 4 valores: top right bottom left  --> Agujas del reloj
  Padding tiene el mismo esquema de funcionamiento
*/


/* Propiedad margin 2 valores: top/bottom right/left  --> Agujas del reloj*/


/* margin-left: auto pega el componente a la derecha || margin-right: auto pega el componente a la izquierda ||
Si combinamos estas dos lo que hacemos es colocar elemento en el centro  */


/* Para que margin left/right auto funcione, nuestro bloque debe tener definido un width determinado, sino no funciona */


/* La propiedad de border: es un shorthand de border-width border-style border-color */


/* En cuanto a los styles hay un monton, dashed, dot, groove, ridge... Si se necesitan buscar info sobre ello. */


/* Box-sizing: permite definir el tamaño del contenedor. Muy util para hacer una caja de un tamaño determinado considerando el contenido solo o tambien el padding y border 
Por defecto: --> box-sizing: content-box (Esto implica el tamaño del contenido solo, es decir, si le ponemos width: 200px. Eso sera para el contenido) Si luego tiene padding
 el tamaño total del box sera 200px + padding + border

 Si queremos que los 200px sea el total, entonces le definidimos box-sizing: border-box
*/